/*CSS RESET*/

* { 
  box-sizing: border-box; 
} /* Switch to border-box for box-sizing. */

body {
  margin: 0; /* Remove the tiny space around the edge of the page */
}

img, video, canvas, audio, iframe, embed, object  { 
  display: block; /* Switch display mode to block, since that's what we usually want for images. */
}

/*GENERAL RULES*/

.App {
  display: grid;
  grid-template-columns: 20% 80%;
}

.left-navbar {
  width: 237px;
  height: 1234px;
  background-color: #FAFBFD;
}

#title {
  color: #090F31;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-top: 38px;
  margin-left: 48px;
}

p > span {
  color: #F7542E;
}

.navbar-text-container {
  margin: 142px 48px;
}

.navbar-text {
  color: #9E9E9E;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  margin: 25px 0;
}

.bold-text {
  color: #090F31;
  font-weight: 700;
}

