/*CSS RESET*/

* { 
  box-sizing: border-box; 
} /* Switch to border-box for box-sizing. */

body {
  margin: 0; /* Remove the tiny space around the edge of the page */
}

img, video, canvas, audio, iframe, embed, object  { 
  display: block; /* Switch display mode to block, since that's what we usually want for images. */
}

/*GENERAL RULES*/

.App {
  display: grid;
  grid-template-columns: 20% 80%;
}

.left-navbar {
  max-width: 237px;
  height: 1234px;
  background-color: #FAFBFD;
  margin-left: 48px;
}

@media (max-width: 50em){
  .left-navbar {
    margin-left: 5px;
  }
}

#title {
  color: #090F31;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-top: 38px;
}

p > span {
  color: #F7542E;
}

.navbar-text-container {
  margin-top: 142px;
}

.navbar-text {
  color: #9E9E9E;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  margin: 25px 0;
}

.bold-text {
  color: #090F31;
  font-weight: 700;
}

h3 {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-left: 33px;
  margin-top: 53px;
}

.button-container {
  margin-left: 33px;
  margin-top: 53px;
}

.main-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 50em){
  .main-buttons {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
}

.button-div > p {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #333333;
}
